<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="public/scripts/checklength.js"></script>   
    <script src="/public/scripts/checklength.js"></script>   
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="public/style.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="./public/style.css" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Document</title>
    
    
  </head>
  <body>
    hello world
    <input type="text" placeholder="type anything" />
    <a href="/other">그냥 이거 왜 안되나 싶어서 ㅋㅋ..</a>
  </body>
</html>
